.button {
    width: 116px;
    height: 65px;
    border-top-width: 20px;
    border-right-width: 20px;
    border-bottom-width: 20px;
    border-left-width: 20px;
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
    border-bottom-right-radius: 55px;
    border-bottom-left-radius: 55px;
    background-color: rgba(255, 0, 0, 0);
    flex-direction: column;
    padding-left: -42px;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
